= form_for @flyer do |f|
  - if @flyer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flyer.errors.count, "error")} prohibited this flyer from being saved:"
      %ul
        - @flyer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Autor"
    = f.text_field :name
  .field
    = f.label :description, "Chiste"
    = f.text_field :description
  .actions
    = f.submit 'Publicar'
