%h1 Chistes

%table
  %tr
    %th Autor
    %th Chiste
    %th
    %th
    %th

  - @flyers.each do |flyer|
    %tr
      %td= flyer.name
      %td= flyer.description
      %td= link_to 'Show', flyer
      %td= link_to 'Edit', edit_flyer_path(flyer)
      %td= link_to 'Destroy', flyer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuevo Chiste', new_flyer_path
